# block everything, unblock subfolders
*
!*/

# track myself
!.gitignore

# track other files
!LICENSE
!README.md
!*.pdf
!source/**
!*.v
!*.vh
!*.gds
!*.cif
!*.mag
!*.ext
!*.sim
!*.tcl
!*.cmd
!run_*

# block other files
innovus.cmd
