# block everything, unblock subfolders
*
!*/

# track myself
!.gitignore

# track other files
!LICENSE
!README.md
!source/**
!pad_06_frame64/**
!*.v
!*.vh
!*.gds
!*.tcl
!*.cmd
innovus.cmd
!run_*
